body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}
h1{
    font-size: 60px;
}

.topmost-quote{
    font-style: italic;
    color: darkgray;
    text-align: center;

}

.about{
    height: 200px;
    background: linear-gradient(to top, black,white);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
   grid-template-areas:
   "h h h h x" ;
    
}
.about-content{
    text-align: end;
color: beige;
grid-area: x;
width: 25%;
}