/*GENERAL*/
body{
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block; /* Required for transform to apply properly */
  }
  
  a:hover {
    transform: scale(1.1);  /* "Pops" the text */
  }
  
  ul, ol {
    list-style: none;        /* Removes bullets or numbers */
  }
  h1{
    text-align: center;
    font-size: 60px;
  }


  /*MAIN SECTIONS*/


.header{
    display: flex;
    justify-content: space-around;

}

.about{
    height: 300px;
    background: linear-gradient(to bottom, white 5%, black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  
}

.legacy{
    height: 400px;
    background: linear-gradient(to bottom, black 5%, white);
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

/*OTHERS*/
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}


.topmost-quote{
    font-style: italic;
    color: darkgray;
    text-align: center;

}



.about-heading, .legacy-heading{
    font-style: bold;
    text-align: justify;
}

.about-heading{
    color: white;
}

.about-content{
    font-size: 17px;
    text-align:center;
color: black;
grid-area: x;
width: 50%;
}


.legacy-content{
    order:1;
color:white; 
text-align: center;   
}

.legacy-heading{
    order: 2;
}
